{%load static%}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
        


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Capital Gains | Long Term Capital Gain | Short Term Capital Gain</title>
        <meta name="keywords" content="India, Indian Taxes, Taxes, Free, Efiling, Efiling Taxes, Efiling Taxes in India, Free Efiling Taxes in India, Free for Women efiling, Fastest way to efile, LegalSalah, LegalSalah, LegalSalah India, legalsalah.com, Easiest way to efile, cheap efiling,
      Income Tax, Form 16, Form-16, two form-16, save taxes, save taxes India, Filing Taxes, Filing Income Tax, Efiling Income Tax, Efiling Income Tax in India, Free Filing Income Tax India, Fastest way to file taxes India, Sahaj, Sugam, ITR, Saral, ITR-1, ITR-2, ITR-3, ITR-4, ITR-5,
      ITR-6, ITR-7, Trust, Business and Profession, House Property, Income, Salary, Other Income, Interest Income, Loans, Section 80C, Section 80CCF, Section 80D, Section 80E, Section 80U, LIC, PPF, NSC, Capital Gains, Sale of Stock, Sale of Shares, Sale of House, Section 54, Section 54F,
      Section 54EC, Section 80G, Donations, Digital Signatures" />

        <meta name="description" content="Add entry of capital gains or long term capital gain or short term capital gain via selling of assets, trading activity." />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">
 
</head>


<body class=" ">


    <div class="container">
        <header>
            
    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="">
                     <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Capital Gain
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div><nav class="navigation hidden-mo">
            


        </nav>
    </navheader>


        </header>

        <div id="main" role="main">

            
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo " href="/">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources  active active" href="/salary">2. Income Sources</a></li>
                <li><a class="nav-Deductions " href="/deduction">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid " href="/tds">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class=" " href="/salary">A. Salary</a></li>
                    <li><a class=" " href="/otherincome">B. Other Income</a></li>
                    <li><a class=" " href="/house">C. House Property</a></li>
                    <li><a class="  active active" href="/capital">D. Capital Gain</a></li>
                    <li><a class=" " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FBusinessProfession">E. Business &amp; Profession</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="nav-PersonalInfo" href="/">Your Info</a></li>
                    <li><a class="active nav-IncomeSources" href="salary">Incomes</a></li>
                    <li><a class="nav-Deductions" href="/deductions">Deductions</a></li>
                    <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
            </ol>
        </div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="nav-PersonalInfo" href="/">Personal Info</a></li>
                        <li><a class="active nav-IncomeSources" href="/salary">Income Sources</a></li>
                            <ul>
                                    <li><a class="nav-Salary" href="/salary">Salary</a></li>
                                    <li><a class="nav-OtherIncome" href="/otherincome">Other Income</a></li>
                                    <li><a class="nav-HouseProperty" href="/house">House Property</a></li>
                                    <li><a class="active nav-CapitalGain" href="/capital">Capital Gain</a></li>
                                    <li><a class="nav-BusinessProfession" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FBusinessProfession">Business &amp; Profession</a></li>
                            </ul>
                        <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                        <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                        <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">
            


        </div>
    </div>
</div>

            

        <style>
            .capital-btn {
                display: inline-block;
                float: right;
            }

            .ct-message--error {
                background: #ffefef;
                border: 1px solid #ff4c4c;
            }

            .ct-message--success {
                background: #e6efc2;
                border: 1px solid #cdd880;
            }

            .ct-message {
                padding: 20px 0;
                text-align: center;
                margin-bottom: 5px;
                border-radius: 3px;
            }

            .fixed-top {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 99.9%;
                z-index: 1001;
            }

            a.blue-link {
                color: #06c;
                text-decoration: underline;
            }

            .cg-logo-zerodha {
                width: 29%;
                font-size: 2.5em;
                margin-left: 90px;
            }

            .cg-logo-cams {
                width: 15%;
                margin-left: 30px;
            }

            .cg-logo-karvy {
                width: 25%;
                margin-left: 30px;
            }

            .cg-logo-wrapper {
                white-space: nowrap;
                display: inline-block;
                width: 30%;
                margin-bottom: -20%;
            }

            .block {
                width: 90%;
                margin-left: 40px;
            }

            .middle {
                text-align: center;
            }

            @media only screen and (max-width: 600px) {

                .cg-logo-zerodha {
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 1.5em;
                }

                .cg-logo-cams {
                    width: 25%;
                    margin-left: auto;
                    margin-right: auto;
                }

                .cg-logo-karvy {
                    width: 35%;
                    margin-left: auto;
                    margin-right: auto;
                }

                .cg-logo-wrapper {
                    display: grid;
                    width: 100%;
                    border-bottom: 20px;
                }

                .block {
                    width: 100%;
                    margin-left: 0px;
                }
            }
        </style>

        <div class="container">

            <div class="span-15 last">
                <h2>Income From Capital Gains</h2>
                
            </div>

            <div class="span-8 right" style="text-align:right">
                <span>
                        <h4 style="display:inline;">Did not sell any assets?  </h4>
                    <a class="large awesome orange" disable-on-click="true" href="CapitalGain.html" onclick="ct_trackClick(&#x27;GoToNext&#x27;);">Go To Next &gt;&gt;</a>
                </span>
            </div>

            <div class="span-24 last">
                <p class="narrate">Did you sell any asset (shares, property, house, land, building, etc) between the period of April 1, 2019 to March 31, 2020?</p>
                <p>
                    Note: Intra-day trading and F&O trading is considered as business income. Go to Business & Profession page and enter the data in the relevant fields.
                </p>
            </div>

            <div class="span-24 last prepend-top append-bottom tac " id="add-assets">
                <div class="mediumnarrate prepend-top append-bottom">
                        <a class="huge awesome blue" id="add-capital-gain-entries" href="javascript:;" onclick="ct_trackClick('SoldAnyAssets');">
                            Click here if you sold any assets
                        </a>
                </div>
            </div>

            <div class="span-24 last hidden" id="entry-button-container">

                <div class="prepend-top" style="min-height: 200px;">
                    <div class="span-7 last" style="vertical-align:middle">
                        <br />
                        <h3 style="text-align:left"><strong>Capital gains Summary</strong></h3>
                            <h4 style="text-align:left"><i>Upload a capital gains report (generated by ZERODHA/CAMS/KARVY) or Add sale entries manually to view capital gains summary.</i></h4>
                    </div>

                    <div class="span-15 right tal " style="border: 1px solid #FFF5AE; background: #FFFCE6; padding: 20px; margin-right:0px;">
                        <div class="span-9" style="margin-right:0px;">
                            <h2>Upload Capital Gains Report</h2>
                        </div>

                        <div class="span-6" style="margin-right:7px;">
                            <a class="larger awesome green" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FCapitalGainsUploadFile" id="upload-file" onclick="ct_trackClick(&#x27;UploadReport&#x27;);" style="margin-top:0px; text-align:center; width:85%;">Upload File</a>

                        </div>

                        <div class="span-15 last narrate">
                            <br />
                            <p>
                                LegalSalah supports import of capital gain transactions generated by ZERODHA/CAMS/KARVY.
                            </p>

                            <p style="text-align:center; margin-bottom:0px;">
                                <i>If your brokerage or fund house is not supported, you can also import data in bulk using <a href="https://assets1.LegalSalah-cdn.com/LegalSalah-Capital-Gain-Template-v3.xlsx">LegalSalah Excel template</a>.</i>
                            </p>
                        </div>
                    </div>

                </div>

                <br />
            </div>


            <div class="span-24">
                <p class="narrate" style="text-align:center">Add capital gains data from Mutual Funds / Equity Shares by uploading ZERODHA, CAMS and KARVY reports.
            </div>

            <div class="span-24 hide" id="logos-horizontal">
                <div class="span-16 append-4 prepend-4">
                    <a class="cg-logo-zerodha" style="text-decoration: none" target="_blank" href='https://legalsalah.com/s/capital-gains-income?forceCacheReload=2#Zerodha' title="Click here to refer to the ZERODHA guide." onclick="ct_trackClick('DownZerodhaGuide');">
                        <span style="color: rgb(25, 94, 131)">ZERODHA</span>
                    </a>
                    <a target="_blank" style="text-decoration: none" href='https://legalsalah.com/s/capital-gains-income#CAMS' onclick="ct_trackClick('DownCamsGuide');">
                        <img class="cg-logo-cams" src="../../../../assets1.LegalSalah-cdn.com/assets/img/cams_logo.png" title="Click here to refer to the CAMS guide." />
                    </a>
                    <a target="_blank" style="text-decoration: none" href='https://legalsalah.com/s/capital-gains-income#KARVY' onclick="ct_trackClick('DownKarvyGuide');">
                        <img class="cg-logo-karvy" src="../../../../assets1.LegalSalah-cdn.com/assets/img/karvy_logo.png" title="Click here to refer to the KARVY guide." />
                    </a>
                </div>
            </div>

            <div class="span-24 hide middle" id="logos-vertical">
                <div class="span-24">
                    <a class="cg-logo-zerodha" style="text-decoration: none" target="_blank" href='https://legalsalah.com/s/capital-gains-income?forceCacheReload=2#Zerodha' title="Click here to refer to the ZERODHA guide." onclick="ct_trackClick('DownZerodhaGuide');">
                        <span style="color: rgb(25, 94, 131)">ZERODHA</span>
                    </a>
                </div>
                <div class="span-24">
                    <a target="_blank" style="text-decoration: none" href='https://legalsalah.com/s/capital-gains-income#CAMS' onclick="ct_trackClick('DownCamsGuide');">
                        <img class="cg-logo-cams" src="../../../../assets1.LegalSalah-cdn.com/assets/img/cams_logo.png" title="Click here to refer to the CAMS guide." />
                    </a>
                </div>
                <div class="span-24">
                    <a target="_blank" style="text-decoration: none" href='https://legalsalah.com/s/capital-gains-income#KARVY' onclick="ct_trackClick('DownKarvyGuide');">
                        <img class="cg-logo-karvy" src="../../../../assets1.LegalSalah-cdn.com/assets/img/karvy_logo.png" title="Click here to refer to the KARVY guide." />
                    </a>
                </div>
            </div>

            <div class="span-24 prepend-top last hidden" id="ShareTypeSection">
                <div class="span-24 prepend-top append-bottom tal" style="border:1px solid #eee; padding:0px; min-height:150px;">
                    <div style="padding:10px;">
                        <h3 style="text-align:left;">Add Sale Entry</h3>
                        <p class="narrate" style="margin:0px;">
                            Enter data manually to report capital gains for the given asset types.
                        </p>
                        <br />
                        <div class="span-4" style="margin-right:15px;">
                            <div>
                                <a class="medium awesome blue" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAddCg%2FThisIsShare" onclick="ct_trackClick(&#x27;AddSaleEntryManually&#x27;, &#x27;Shares/Debentures&#x27;);" style="width:85%; text-align:center; align:center;">Shares/Debentures</a>
                            </div>
                        </div>

                        <div class="span-4" style="margin-right:15px;">
                            <div>
                                <a class="medium awesome blue" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAddCg%2FThisIsShare%3FisMutualFund%3DTrue" onclick="ct_trackClick(&#x27;AddSaleEntryManually&#x27;, &#x27;Mutual Funds&#x27;);" style="width:85%; text-align:center; align:center;">Mutual Funds</a>
                            </div>
                        </div>

                        <div class="span-4" style="margin-right:15px;">
                            <div>
                                <a class="medium awesome blue" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAddCg%2FThisIsShare%3FisEsopShare%3DTrue" onclick="ct_trackClick(&#x27;AddSaleEntryManually&#x27;, &#x27;Stock Options/RSUs&#x27;);" style="width:85%; text-align:center; align:center;">Stock Options/RSUs</a>
                            </div>
                        </div>

                        <div class="span-6" style="margin-right:10px;">
                            <div>
                                <a class="medium awesome blue" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAddCg%2FThisIsLandOrProperty" onclick="ct_trackClick(&#x27;AddSaleEntryManually&#x27;, &#x27;LandOrBuilding&#x27;);" style="width:85%; text-align:center; align:center;">Land or Building (Property)</a>
                            </div>
                        </div>

                        <div class="span-4" style="margin-right:10px;">
                            <div>
                                <a class="medium awesome blue" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAddCg%2FThisIsOtherAsset" onclick="ct_trackClick(&#x27;AddSaleEntryManually&#x27;, &#x27;AnyOtherAssets&#x27;);" style="width:85%; text-align:center; align:center;">Any Other Assets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>






            <div class="span-16 prepend-4 append-4 prepend-top last">
                <p><br /></p>
                <h4 style="text-align:center;">For people with lot of share trading activity</h4>
                <p style="text-align:center;"><a href="#" id="toggleLink">Click here to read on what to do when you have a lot of share trading activity</a></p>
                <div id="longdiscussion" class="hide">
                    <p>
                        If you have a lot of share trading activity (e.g. if you are a day trader with lots of activity or if you trade regularly in Futures and Options), the Income Tax Department classifies this as a Business Activity. In that case, you
                        need to file an ITR-3 and show the Profit / Loss from the share trading under the head "Income from Business and Profession".
                            <a href="https://legalsalah.com/Business">
                                Click here to buy the LegalSalah Business Plan in case you
                                want an tax expert to help prepare and e-file your Income Tax Return.
                            </a>
                    </p>
                    <p>
                        If you have share trading activity and you want to declare that under the head "Income from Capital Gain", you can specify just the aggregate Capital Gain / Loss value of the whole financial year. We have described the steps below.
                    </p>
                    <p>Share trading falls in 4 separate categories:</p>
                    <ul>
                        <li>Long Term STT Paid</li>
                        <li>Short Term STT Paid</li>
                        <li>Long Term STT not paid</li>
                        <li>Short Term STT not paid</li>
                    </ul>
                    <p>
                        STT paid and Not-STT paid have different taxation rate, so you have to handle each case separately.<br /><br />
                        For example: Lets say you have Short Term STT paid share sale, then you need to create one entry in Short Term STT Paid Shares:
                    </p>
                    <ul>
                        <li>If you have Net Capital Gain in the financial year in Short Term STT Paid, then just specify the profit in the Sale Price and Zero in the purchase price.</li>
                        <li>If you have Net Capital Loss, then just specify Zero in Sale Price and the amount of Loss as the purchase price. We will automatically make this a loss, as sale price is lower than the purchase price.</li>
                    </ul>
                    <p>
                        In total, you may have to make 4 such entries to cover all the cases listed above. Please contact us if you have any questions.
                        <br /><br />
                    </p>
                </div>
            </div>
                    <div class="span-24 last prepend-top">
                        <div id="promoHorizontal" class="hide">
                            
<style>
    .tick ul {
        list-style-type: none;
    }

    .tick ul li::before {
        content: '\2713';
        color: green;

    }

    .assiatance-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 80%;
        max-width: 80%;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .assiatance-img{
        margin: 2px 0px;
    }
</style>
<div class="span-24 last" style="border:1px solid #dfe1e5; padding-right:0px;">
    <div class="span-6 assiatance-img">
        <img src="../../../../assets1.LegalSalah-cdn.com/LegalSalah/images/1602582887_expert_assistance.png">
    </div>
    <div class="span-6" style="margin-top:12px">
        <strong style="line-height: 2">Need expert assistance?</strong><br />
        <p style="line-height: 2; margin-bottom:0px">We provide customized plans for users starting from ₹799.</p>
    </div>
    <div class="span-7 tick" style="margin-top:12px">
        <ul style="padding-left:0px; margin-bottom:0px">
            <li style="font-size: 12px; line-height: 2"> Your data is reviewed and corrected</li>
            <li style="font-size: 12px; line-height: 2"> Best tax savings options suggestions</li>
            <li style="font-size: 12px; line-height: 2"> Post return filing support</li>
        </ul>
    </div>
    <div class="span-4" style="margin-top:32px">
        <a style="text-align:center; background-color:#0f3cf2;" class="large awesome" onclick="ct_trackClick('BuyCaPlan');" target="_blank" href="https://legalsalah.com/s/Pricing?ref=paytax_CapitalGain">
            Get assistance
        </a>
    </div>
</div>
                        </div>
                        <div id="promo" class="hide">
                            
<style>
    .tick li {
        list-style-type: none;
    }

    .tick li::before {
        content: '\2713';
        color: green;
        font-size: 12px;
        line-height: 2;

    }

    .promo-text img {
        width: 100%;
        height: 100%;
    }
    @media(max-width:540px){
        .promo-text img {
            width: 50%;
            height: 100%;
        }
}
</style>
<div class="inline-promo" style="border:1px solid #dfe1e5">
    <div class="promo-text" style="margin-bottom:10px">
        <img src="../../../../assets1.LegalSalah-cdn.com/LegalSalah/images/1602582887_expert_assistance.png">
        <h4 style="text-align:center; margin-top: 10px">
            <strong style="text-align:center"> Need expert assistance? </strong>
        </h4>
        <p style="line-height:1.5; text-align:center; margin-bottom:10px">We provide customized plans for users starting from ₹799.</p>
        <hr />
        <ul class="tick" style="margin:0px; padding-left:0px;text-align:left;">
            <li> Your data is reviewed and corrected</li>
            <li> Best tax savings options suggestions</li>
            <li> Post return filing support</li>
        </ul>
        <a tabindex="-1" class="large awesome" style="margin-top: 10px; background-color: #0f3cf2;" onclick="ct_trackClick('BuyCaPlan');" target="_blank" href="https://legalsalah.com/s/Pricing?ref=paytax_CapitalGain">
            Get assistance
        </a>
    </div>
</div>
                        </div>
                    </div>
        </div>
        
        <p><br /></p>
        </div>





            <div class="mt50 sticky-footer-check">
                
<div class="ct-trust-markers">
    <div class="info-text">
        LegalSalah is a product by Defmacro Software Pvt. Ltd.
    </div>
   
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>

    
<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>



    
            <script>
            $(function () {
                                $('#js-close-error').click(function () {
                    $('#js-excel-upload-error').hide();
                });
                $('#toggleLink').on('click', function () {
                    $('#longdiscussion').removeClass('hide');
                    return false;
                });

                $("#add-capital-gain-entries").on('click', function () {
                    $('#add-assets').attr('class', "hidden");
                    $('#entry-button-container').slideDown("medium", function () {
                        $('html, body').animate({
                            scrollTop: $("#entry-button-container").offset().top
                        }, 1000);
                    });
                    $('#ShareTypeSection').removeClass('hidden');

                    return false;
                });
            });
            $(window).on('resize', function () {
                if ($(window).width() > 540) {
                    $('#promo').addClass('hide');
                    $('#promoHorizontal').removeClass('hide');
                    $('#logos-horizontal').removeClass('hide');
                    $('#logos-vertical').addClass('hide');
                } else {
                    $('#promoHorizontal').addClass('hide');
                    $('#promo').removeClass('hide');
                    $('#logos-horizontal').addClass('hide');
                    $('#logos-vertical').removeClass('hide');

                }
            })
            window.onload = function () {
                if ($(window).width() > 540) {
                    $('#promo').addClass('hide');
                    $('#promoHorizontal').removeClass('hide');
                    $('#logos-horizontal').removeClass('hide');
                    $('#logos-vertical').addClass('hide');
                } else {
                    $('#promoHorizontal').addClass('hide');
                    $('#promo').removeClass('hide');
                    $('#logos-horizontal').addClass('hide');
                    $('#logos-vertical').removeClass('hide');
                }
            }
            </script>
        

 
</body>
</html>
