{%load static%}
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Deductions Under Section 80</title>
        <meta name="keywords" content="deductions under section 80, section 80 deductions, section 80 deductions limit, section 80 deduction in respect of rent paid, section 80 deductions preventive health checkup, sec 80 deductions, section 80 deductions(585), section 80c deductions" />

        <meta name="description" content="Add entry of deductions Under Section 80" />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">
</head>


<body class=" ">


    <div class="container">
        <header>
            
    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="#">
                   <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Section 80 Deductions
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </navheader>

<div class="hidden">
    <div id="account_options_content" class="m20 ml20 mr20">
        <div class="span-7">
            <h2 class="m20 tal">Navigation</h2>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-tracking-action="option-navigate-faster" href="GetMapForEntity81f7.html?typeOfEntity=Individual">Navigate Faster</a><br />
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="option-advanced-options" data-width="50%" href="http://LegalSalah.in/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAdvancedOptions">Advanced Options</a>
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="header_need_help" data-width="50%" href="https://LegalSalah.in/Meta/NeedHelp?entityIndex=0&amp;year=2020">Need Help?</a>
            </p>
        </div>
        <div class="span-7 last">
            <h2 class="m20 tal">Account Options</h2>
            <!--<p class="narrate">
                <a href="/MyAccount?entityIndex=0&amp;year=2020"  data-tracking-action="option-myaccount" class="optionlink">My Account</a>
            </p>-->
            <p class="narrate">
                <a class="cbox-ajax optionlink" data-tracking-action="option-logout" data-width="40%" href="https://LegalSalah.in/Account/BeforeLogoff?entityIndex=0&amp;year=2020">Log Out</a> <br />
            </p>
        </div>
    </div>
</div>

        </header>

        <div id="main" role="main">

            
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo " href="/">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources " href="/salary">2. Income Sources</a></li>
                <li><a class="nav-Deductions  active active" href="/deduction">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid " href="/tds">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="#">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class="  active active" href="/deduction">A. Section 80 Deductions</a></li>
                    <li><a class=" " href="/morededuction">B. More Deductions</a></li>
                    <li><a class=" " href="/otherdeduction">C. Other Deductions</a></li>
                    <li><a class=" " href="/investmentdetails">D. Investment Details</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="nav-PersonalInfo" href="/">Your Info</a></li>
                    <li><a class="nav-IncomeSources" href="/salary">Incomes</a></li>
                    <li><a class="active nav-Deductions" href="/deduction">Deductions</a></li>
                    <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="#">Tax Filing</a></li>
            </ol>
        </div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="nav-PersonalInfo" href="/">Personal Info</a></li>
                        <li><a class="nav-IncomeSources" href="/salary">Income Sources</a></li>
                        <li><a class="active nav-Deductions" href="/deduction">Deductions</a></li>
                            <ul>
                                    <li><a class="active nav-Deductions" href="/deduction">Section 80 Deductions</a></li>
                                    <li><a class="nav-MoreDeductions" href="/moredeductions">More Deductions</a></li>
                                    <li><a class="nav-EvenMoreDeductions" href="/otherdeduction">Other Deductions</a></li>
                                    <li><a class="nav-InvestmentDetails" href="/investmentdetails">Investment Details</a></li>
                            </ul>
                        <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                        <li><a class="nav-TaxFiling" href="http://LegalSalah.in/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">
        </div>
    </div>
</div>

            

<div class="container">
    <h2>Deductions Under Section 80</h2>
<form action="#" method="post">        <div class="span-24 last">
            
        </div>
        <div class="span-16">
            <fieldset>
                <legend>Investments under Section 80C</legend>
                <p>
                    You can claim a deduction of upto Rs. 1,50,000
                    under this section.
                    <br />
                    Add up all your 80C deduction and specify total amount here.
                    <a href="#80c-read-more" class="cbox-inline cboxElement quiet-button"><strong>Read more</strong></a>
                </p>

                <p>
                    <label for=DeductionsSection80_deductionsForIndividualOrHUF_deductionsFromSection80C_sec80CDeductions_0__amount>Investment for Section 80C</label> <br />
                    
<input class="text track-focus formatRupee" data_name="Ded80C" id="DeductionsSection80_deductionsForIndividualOrHUF_deductionsFromSection80C_sec80CDeductions_0__amount" name="DeductionsSection80.deductionsForIndividualOrHUF.deductionsFromSection80C.sec80CDeductions[0].amount" novalidate="novalidate" type="tel" value="" />
 <br />
                    <span class="field-validation-valid notice" data-valmsg-for="DeductionsSection80.deductionsForIndividualOrHUF.deductionsFromSection80C.sec80CDeductions[0].amount" data-valmsg-replace="true"></span>
                </p>
                <p>
                    Section 80C includes contributions to LIC / Insurance premium, PPF, EPF, NSC, ELSS Mutual Funds, Children school fees, Payment of Principal in Housing Loan &amp; other eligible items.
                </p>
                    <p class="notice">
                        <span class="ct-bold">PRO-TIP:</span> For the current financial year, try to invest Rs. 1,50,000 in 80C to maximise on tax savings.
                    </p>
                <div class="hidden">
                    <div id="80c-read-more" class="narrate" style="padding: 20px">
                        <h3>Deductions under Section 80C</h3>
                        <p>You should claim the entire 80C amount, even if you forgot to submit investment proofs for 80C to your HR. Even if your Form-16 does not have the total 80C amount, you can claim right now. Just keep your investment proofs with yourself safely.</p>
                        <p>If you changed jobs, remember to add EPF contribution from all your employers in 80C. EPF is employee provident fund.</p>
                        <p>80C: PPF (Public Provident Fund), Sukanya Samridhi, ULIPs, Insurance premium, Five year fixed deposits, Postal deposits, ELSS Mutual Funds are eligible for 80C. Children school fees, payment of principal of housing loan is also eligible.</p>
                    </div>
                </div>
            </fieldset>
                            <fieldset>
                        <legend>Section 80TTA: Deduction for Interest earned on Savings Bank Account</legend>
                        <p>
                            <label for=DeductionsSection80_deductionsForIndividualOrHUF_deductionUS80TTA>Interest earned on Savings Bank Account</label><br />
                                <input type="text" disabled="disabled" class="text" name="uneditable-tta" value="" />
                            <p class="narrate">
                                You do not need to enter a value for the 80TTA deduction here.<br />
                                LegalSalah automatically picks it up from your <a href="OtherIncome.html">declared interest income from Saving Bank account and Post office deposits.</a>.
                            </p>
                            <span class="field-validation-valid notice" data-valmsg-for="DeductionsSection80.deductionsForIndividualOrHUF.deductionUS80TTA" data-valmsg-replace="true"></span>
                            </p>
                </fieldset>

        </div>
        <div class="span7 last paytax-box-wrap hidden-mo">
            <br />
                <div class="paytax-box small">

                    <p style="margin-bottom: 0">
                        It is mandatory to fill <label class="bold">Investment Details </label> for ITR filing 
                        with investment/ deposit/ payments done between 
                        <label class="bold">1st Apr 2020 to 31st Jul 2020</label>  to claim any deductions
                    </p>
                </div>
            <div class="paytax-box small">
                <p style="opacity: 0.7">
                    The Tax Department does not require you to submit documents related to deductions while e-Filing.
                </p>
                <p style="margin-bottom: 0; opacity: 0.7">
                    Just keep the documents / receipts in case
                    the Tax Department requests you for them later on.
                </p>
            </div>

<div class="inline-promo">
    <div class="promo-text sidebar-plan-box">
        <h4>
            <strong> Get a tax expert to file your return </strong>
        </h4>
        <p>
            Filing return yourself is <strong>Free.</strong>
        </p>
        <p>
            If you need an expert's help, you can opt for our paid plans starting ₹799.
        </p>
        <a tabindex="-1" class="promo-btn" onclick="ct_trackClick('BuyCaPlan');" target="_blank" href="#">
            See Plans
        </a>
    </div>
</div>
    </div>

        <div id="HiddenButtonDeductionsPage" style="display: none;">
            <button type="submit" class="medium awesome blue btn-save full-640" name="submitButton" value="Save">
                Save
            </button>
        </div>        <div class="span-16">
            <fieldset>
                <legend>Section 80G : Donations to charitable organizations</legend>
                    <span class="quiet">The government requires itemized details of donations for Section 80G.</span><br /><br />
                    <button type="submit" class="medium awesome blue btn-save full-640" name="submitButton" value="RedirectTo80GPage">
                        Add or Remove Donation under Section 80G
                    </button>

            </fieldset>
        </div>
        <div class="span-24 last sticky-check sticky-buttons">
            <div class="sticky-container">
                <p>
                    <button type="submit" disable-on-click="true" class="large awesome blue btn-save full-640" data-tracking-action="sticky_save_button" data-tracking-label="deductions" name="submitButton" value="Save">
                        Save
                    </button>
                </p>
            </div>
        </div>
</form></div>

            <div class="mt50 sticky-footer-check">
                
<div class="ct-trust-markers">
    <div class="info-text">
        © 2020 Legal Salah Solutions Private Limited | All rights reserved 
    </div>
   
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>

    
<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>
<script src="{% static 'dc.min.js'%}" type="text/javascript"></script>  
  <script src="{% static 'frontdc.min.js'%}" type="text/javascript"></script>        
 
</body>
</html>
