{%load static%}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Income from other sources</title>
        <meta name="keywords" content="India, Indian Taxes, Taxes, Free, Efiling, Efiling Taxes, Efiling Taxes in India, Free Efiling Taxes in India, Free for Women efiling, Fastest way to efile, LegalSalah, LegalSalah, LegalSalah India, legalsalah.com, Easiest way to efile, cheap efiling,
      Income Tax, Form 16, Form-16, two form-16, save taxes, save taxes India, Filing Taxes, Filing Income Tax, Efiling Income Tax, Efiling Income Tax in India, Free Filing Income Tax India, Fastest way to file taxes India, Sahaj, Sugam, ITR, Saral, ITR-1, ITR-2, ITR-3, ITR-4, ITR-5,
      ITR-6, ITR-7, Trust, Business and Profession, House Property, Income, Salary, Other Income, Interest Income, Loans, Section 80C, Section 80CCF, Section 80D, Section 80E, Section 80U, LIC, PPF, NSC, Capital Gains, Sale of Stock, Sale of Shares, Sale of House, Section 54, Section 54F,
      Section 54EC, Section 80G, Donations, Digital Signatures" />

        <meta name="description" content="File Income Tax Returns online with LegalSalah. LegalSalah is fast, safe and very easy to use. Save money.
  LegalSalah handles all cases of Income from Salary, Interest Income, Capital Gains, House Property, Business and Profession. LegalSalah maximize your deductions by handling all deductions under Section 80 like section 80C, 80D, 80CCF, 80G, 80E, 80U and the rest.
  You can use your digital signature to e-file. Our products are trusted by hundreds of CAs and corporations for filing taxes and TDS." />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">
    

</head>


<body class=" ">


    <div class="container">
        <header>
            
    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="">
                    <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Other Income
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div><nav class="navigation hidden-mo">
            


        </nav>
    </navheader>
        </header>

        <div id="main" role="main">

            
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo " href="/">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources  active active" href="/salary">2. Income Sources</a></li>
                <li><a class="nav-Deductions " href="/deduction">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid " href="/tds">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class=" " href="/salary">A. Salary</a></li>
                    <li><a class="  active active" href="/otherincome">B. Other Income</a></li>
                    <li><a class=" " href="/house">C. House Property</a></li>
                    <li><a class=" " href="/capital">D. Capital Gain</a></li>
                    <li><a class=" " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FBusinessProfession">E. Business &amp; Profession</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="nav-PersonalInfo" href="/">Your Info</a></li>
                    <li><a class="active nav-IncomeSources" href="/salary">Incomes</a></li>
                    <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                    <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
            </ol>
        </div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="nav-PersonalInfo" href="/">Personal Info</a></li>
                        <li><a class="active nav-IncomeSources" href="/salary">Income Sources</a></li>
                            <ul>
                                    <li><a class="nav-Salary" href="/salary">Salary</a></li>
                                    <li><a class="active nav-OtherIncome" href="/otherincome">Other Income</a></li>
                                    <li><a class="nav-HouseProperty" href="/house">House Property</a></li>
                                    <li><a class="nav-CapitalGain" href="/capital">Capital Gain</a></li>
                                    <li><a class="nav-BusinessProfession" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FBusinessProfession">Business &amp; Profession</a></li>
                            </ul>
                        <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                        <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                        <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">
            
<ul class="navigation-menu">
                <li><a href="https://legalsalah.com/Guide/eFilingIncomeTaxReturns">Guide to Tax Filing</a></li>
                <li><a href="https://legalsalah.com/Meta/Pricing" onclick="ct_trackClick('BuyCaPlan');">Buy Assisted Tax Filing Plan</a></li>
                <li><a href="https://legalsalah.com/Account/Register?returnUrl=/paytax/y2020/0/OtherIncome">Sign up</a></li>
                <li><a href="https://legalsalah.com/Account/LogOn?returnUrl=/paytax/y2020/0/OtherIncome">Log In</a></li>

        </ul>


        </div>
    </div>
</div>

            


<div class="container">

    <div class="span-8 right" style="text-align:right">
        <span>
            <a class="large awesome orange" href="HouseProperty.html">Go To Next &gt;&gt;</a>
        </span>
    </div>
    <h2>Income from other sources</h2>
    <div class="span-24 last">
        <p class="narrate">
            This section consists of interest income, dividend income, agricultural income and all other incomes excluding salary, income from house property or capital gains or business/profession.
        </p>
    </div>
    <form action="/otherincomelink" method="post">        <div class="span-24 last">
    {%csrf_token%}
            
        </div>
        <div class="span-20">
            



<fieldset>
    <legend>Interest Income</legend>

        <div class="totaller">
            <p>
                <label for=incomeFromOtherSources_interestIncomeNoTds_0__amount>Interest Income from Saving Bank</label> <span class="total_output"></span>
                <a href="../../../../assets1.LegalSalah-cdn.com/img/interestincome.png" class="cbox-ajax quiet-button">Where can I find this?</a>
                <br />
                <span class="quiet">You can also enter income from post-office saving deposits here.</span><br />
                
<input class="text track-focus formatRupee" data_name="SBInterest" id="incomeFromOtherSources_interestIncomeNoTds_0__amount" name="savings" novalidate="novalidate" type="tel" value="" />

                <br />
                <span class="field-validation-valid notice" data-valmsg-for="incomeFromOtherSources.interestIncomeNoTds[0].amount" data-valmsg-replace="true"></span>
            </p>

        </div>
        <div class="totaller">
            <p>
                <label for=incomeFromOtherSources_interestIncomeNoTds_1__amount>Interest Income from Deposits</label> <span class="total_output"></span><br />
                <span class="quiet">Interest from sweep accounts converted to FDs, post-office fixed deposits also specified here</span>
                <br />
                
<input class="text track-focus formatRupee" data_name="FDInterest" id="incomeFromOtherSources_interestIncomeNoTds_1__amount" name="deposit" novalidate="novalidate" type="tel" value="" />

                <br />
                <span class="field-validation-valid notice" data-valmsg-for="incomeFromOtherSources.interestIncomeNoTds[1].amount" data-valmsg-replace="true"></span>
            </p>
        </div>

            <p class="">
                <a class="toggle-btn" href="#extraInterestIncomeOptions" data-toggle="extraInterestIncomeOptions">Click here</a>
                to add any other interest income (eg: interest from bonds, interest from tax refund, etc).
            </p>

            <div id="extraInterestIncomeOptions" class="hide">
                <p>
                    <label for=incomeFromOtherSources_InterestFromTaxRefund>Interest on Income Tax Refund</label><br />
                    <span class="quiet">
                        If you had a income tax refund last year, you may have received some interest amount along with the refund amount. <br />
                        Enter the interest amount only, <u>do not enter the entire refund amount</u>.
                    </span>
                    <br />
                    
<input class="text track-focus formatRupee" data_name="fromIncomeTaxRefund" id="incomeFromOtherSources_InterestFromTaxRefund" name="incomeFromOtherSources.InterestFromTaxRefund" novalidate="novalidate" type="tel" value="" />
 <br />
                    <span class="field-validation-valid notice" data-valmsg-for="incomeFromOtherSources.InterestFromTaxRefund" data-valmsg-replace="true"></span>
                </p>

                <div class="totaller">
                    <p>
                        <label for=incomeFromOtherSources_InterestFromOthers>Any Other Interest Income</label> <span class="total_output"></span><br />
                        <span class="quiet">Eg: Bonds, unsecured loans, national savings certificates, etc</span>
                        <br />
                        
<input class="text track-focus formatRupee" data_name="OtherInterest" id="incomeFromOtherSources_InterestFromOthers" name="incomeFromOtherSources.InterestFromOthers" novalidate="novalidate" type="tel" value="" />

                        <br />
                        <span class="field-validation-valid notice" data-valmsg-for="incomeFromOtherSources.InterestFromOthers" data-valmsg-replace="true"></span>
                    </p>
                    </div>
                </div>
</fieldset>
<fieldset>
    <legend>Other Income</legend>

    <div class="totaller">
        <p>
            <label for=incomeFromOtherSources_miscOtherNoTds>Any Other Income</label> <span class="total_output"></span><br />
            <span class="quiet">Report any other income which is not part of Income from Salary, House Property, Capital Gain or Business and Profession.<br />
            Gifts can be declared as Income here.
            <br /></span>
            
<input class="text track-focus formatRupee" id="incomeFromOtherSources_miscOtherNoTds" name="other" novalidate="novalidate" type="tel" value="" />

            <br />
            <span class="field-validation-valid notice" data-valmsg-for="incomeFromOtherSources.miscOtherNoTds" data-valmsg-replace="true"></span>
        </p>

    </div>


    </fieldset>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.anyOtherIncomeDDChangedEvent').on('change', function (self) {
            if ($(this).val() == "Source_FamilyPension")
                $("#familyPensionDisclaimer").show();
        });
        $('.anyOtherIncomeDDChangedEvent').change();
    });
</script>

            
<style>
    @media only screen and (max-width: 600px) {
        .block {
            width: 100%;
        }
    }
    @media only screen and (min-width: 600px) {
        .block {
            width: 70%;
        }
    }
</style>

<fieldset>
    <legend>Exempt Income</legend>
    <div id="exemptIncomeForm" class="span-18 hide">
        <div class="totaller">
            <p>
                <label for=exemptIncome_dividendDomesticCompanyIncome>Dividend Income from Domestic Company</label> <span class="total_output"></span><a href="#dividend-read-more" class="cbox-inline cboxElement quiet-button"><strong>Read more</strong></a><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_dividendDomesticCompanyIncome" name="exemptIncome.dividendDomesticCompanyIncome" novalidate="novalidate" type="tel" value="" />

                <br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.dividendDomesticCompanyIncome" data-valmsg-replace="true"></span>
            </p>
                    </div>
        <div class="hidden">
            <div id="dividend-read-more" class="narrate" style="padding: 20px">
                <p>
                    If you have equity dividends from stocks purchased through Zerodha, you can upload the Zerodha trade-wise P&L statement in the Capital Gains section.
                    We will populate the Equity dividend income data from the statement for your review here and populate the equity capital gains in the Capital Gains section. Please avoid duplication by manually entering here.
                </p>
                <p>Dividend income from stocks that aren’t brought through Zerodha can be added here manually.</p>
                <p>Please navigate to Capital Gains section > Click here if you have sold any assets > Upload Capital Gains Report. Please use this link for <a href="CapitalGain.html">Capital Gains Section</a></p>
            </div>
        </div>
        <div class="totaller">
            <p>
                <label for=exemptIncome_dividendMutualFundIncome>Dividend Income from Mutual Funds</label> <span class="total_output"></span><br />
                <span class="quiet">Dividend from investments in Mutual Funds, ULIPs, UTI</span><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_dividendMutualFundIncome" name="exemptIncome.dividendMutualFundIncome" novalidate="novalidate" type="tel" value="" />

                <br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.dividendMutualFundIncome" data-valmsg-replace="true"></span>
            </p>
        </div>
        <div class="totaller">
            <p>
                <label for=exemptIncome_exemptInterestPPF>Interest Income from PPF</label> <span class="total_output"></span><br />
                <span class="quiet">Example: Interest earned on PPF</span><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_exemptInterestPPF" name="exemptIncome.exemptInterestPPF" novalidate="novalidate" type="tel" value="" />

                <br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.exemptInterestPPF" data-valmsg-replace="true"></span>
            </p>
        </div>
        <div class="totaller">
        <p>
            <label for=exemptIncome_otherExemptIncome>Any Other Exempt Income</label> <span class="total_output"></span><br />
            <span class="quiet">Specify any other exempt income</span><br />
            
<input class="text track-focus formatRupee" id="exemptIncome_otherExemptIncome" name="exemptIncome.otherExemptIncome" novalidate="novalidate" type="tel" value="" />

            <br />
            <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.otherExemptIncome" data-valmsg-replace="true"></span>
        </p>
    </div>
    </div>
    <div id="exemptIncomeHiddenMsg" class="">
        <div class="span-12 m20">
            Do you have any income from Dividend, Interests from PPF or Other Income which are exempt?
        </div>
        <div class="span-6 last m20 tar">
            <button type="button" class="medium awesome orange right m0 mr0" onclick="showexemptForm()" value="Add Income from exempts" style="width:100%">
                Add Exempt Income
            </button>
        </div>
    </div>





</fieldset>

    <fieldset>
        <legend>Agriculture Income</legend>
        <div id="agriIncomeForm" style="display:none">
            <p>
                <label for=exemptIncome_GrossAgriculturalReceipt>Gross Agriculture Receipt</label><br />
                <span class="quiet">Specify gross agricultural income</span><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_GrossAgriculturalReceipt" name="exemptIncome.GrossAgriculturalReceipt" novalidate="novalidate" type="tel" value="" />
<br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.GrossAgriculturalReceipt" data-valmsg-replace="true"></span>
            </p>

            <p>
                <label for=exemptIncome_ExpenditureOnAgriculture>Expenditure On Agriculture</label><br />
                <span class="quiet">Specify expenditure on agriculture sources</span><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_ExpenditureOnAgriculture" name="exemptIncome.ExpenditureOnAgriculture" novalidate="novalidate" type="tel" value="" />
<br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.ExpenditureOnAgriculture" data-valmsg-replace="true"></span>
            </p>

            <p>
                <label for=exemptIncome_UnabsorbedAgricultureLoss>Unabsorbed Agriculture Loss</label><br />
                <span class="quiet">Specify unabsorbed agriculture loss</span><br />
                
<input class="text track-focus formatRupee" id="exemptIncome_UnabsorbedAgricultureLoss" name="exemptIncome.UnabsorbedAgricultureLoss" novalidate="novalidate" type="tel" value="" />
<br />
                <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.UnabsorbedAgricultureLoss" data-valmsg-replace="true"></span>
            </p>

            <p>
                <label for=exemptIncome_NetAgricultureReceipt>Net Agriculture Receipt</label> <em>Auto-calculated</em>
                <br />
                
<input class="text formatRupee" disabled="disabled" id="exemptIncome_NetAgricultureReceipt" name="exemptIncome.NetAgricultureReceipt" novalidate="novalidate" type="tel" value="" />

            </p>
                <p class="m20 mb10 landDetailTags">
                    <label>Agriculture Land Details</label> <br />
                    These fields are optional. Enter these values if Net Agriculture Receipt exceeds Rs. 5 Lakhs:
                </p>
                <div class="narration-list other-details span-18 last landDetailTags">
                    <div class="narration-header clearfix hidden-mo">
                        <span class="span-3">Name Of District</span>
                        <span class="span-2 mr10 ml10">Pincode</span>
                        <span class="span-4 mr10 ml10">Measurement (Acres)</span>
                        <span class="span-3 mr10 ml10">Ownership Status</span>
                        <span class="span-3 mr10 ml10">Source of water</span>
                    </div>
                    <div class="narration-items">
                            <div class="narration-item clearfix">
                                <span class="span-3">
                                    <input class="text" id="exemptIncome_AgriLandDetails_0__AgriLandNameOfDistrict" name="exemptIncome.AgriLandDetails[0].AgriLandNameOfDistrict" placeholder="Name Of District" type="text" value="" /><br />
                                    <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.AgriLandDetails[0].AgriLandNameOfDistrict" data-valmsg-replace="true"></span>
                                </span>
                                <span class="span-2 mr10 ml10">
                                    <input class="text" id="exemptIncome_AgriLandDetails_0__AgriLandPinCode" name="exemptIncome.AgriLandDetails[0].AgriLandPinCode" placeholder="Pincode" type="text" value="" /><br />
                                    <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.AgriLandDetails[0].AgriLandPinCode" data-valmsg-replace="true"></span>
                                </span>
                                <span class="span-4 mr10 ml10">
                                    <input class="text" data-val="true" data-val-number="The field AgriLandMeasurementOfLand must be a number." id="exemptIncome_AgriLandDetails_0__AgriLandMeasurementOfLand" name="exemptIncome.AgriLandDetails[0].AgriLandMeasurementOfLand" placeholder="Measurement (Acres)" type="text" value="" /><br />
                                    <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.AgriLandDetails[0].AgriLandMeasurementOfLand" data-valmsg-replace="true"></span>
                                </span>
                                <span class="span-3 mr10 ml10">
                                    <select class="text span-3" data-val="true" data-val-required="The AgriLandOwnedFlag field is required." id="exemptIncome_AgriLandDetails_0__AgriLandOwnedFlag" name="exemptIncome.AgriLandDetails[0].AgriLandOwnedFlag"><option selected="selected" value="NotInit"></option>
<option value="Owned">Owned</option>
<option value="Leased">Held on Lease</option>
</select><br />
                                    <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.AgriLandDetails[0].AgriLandOwnedFlag" data-valmsg-replace="true"></span>
                                </span>
                                <span class="span-3 mr10 ml10">
                                    <select class="text span-3" data-val="true" data-val-required="The AgriLandIrrigatedFlag field is required." id="exemptIncome_AgriLandDetails_0__AgriLandIrrigatedFlag" name="exemptIncome.AgriLandDetails[0].AgriLandIrrigatedFlag"><option selected="selected" value="NotInit"></option>
<option value="Irrigated">Irrigated</option>
<option value="RainFed">Rain-Fed</option>
</select><br />
                                    <span class="field-validation-valid notice" data-valmsg-for="exemptIncome.AgriLandDetails[0].AgriLandIrrigatedFlag" data-valmsg-replace="true"></span>
                                </span>
                                <span class="span-1 last ml5">
                                    <a class="close-btn" href="#" data-tracking-action="agri_land_delete">&times;</a>
                                </span>
                            </div>
                    </div>
                    <div class="narration-footer">
                        <a class="add-btn awesome small blue add-items add-btn" href="#" data-tracking-action="agri_land_add">Add More</a>
                    </div>
                </div>
        </div>
        <div id="agriIncomeHiddenMsg">
            <div class="span-12 m20">
                Do you have any Income from Agriculture?
            </div>
            <div class="span-6 last m20 tar">
                <button type="button" class="medium awesome orange right m0 mr0" onclick="showAgriForm()" value="Add Agriculture Income" style="width:100%">
                    Add Agriculture Income
                </button>
            </div>
        </div>
    </fieldset>
    <script type="text/javascript">
        var selectors = {
            GrossAgriculturalReceipt: '#' + 'exemptIncome_GrossAgriculturalReceipt',
            ExpenditureOnAgriculture: '#' + 'exemptIncome_ExpenditureOnAgriculture',
            UnabsorbedAgricultureLoss: '#' + 'exemptIncome_UnabsorbedAgricultureLoss',
            NetAgricultureReceipt: '#' + 'exemptIncome_NetAgricultureReceipt'
        }
        function showAgriForm()
        {
            $('#agriIncomeHiddenMsg, #agriIncomeForm').toggle();
        }
        function calcNetAgricultureReceipt()
        {
            $(selectors.NetAgricultureReceipt).val(formatNumber(
                parseRupee($(selectors.GrossAgriculturalReceipt).val())
                - parseRupee($(selectors.ExpenditureOnAgriculture).val())
                - parseRupee($(selectors.UnabsorbedAgricultureLoss).val())
            ))
        }
        // showing agriculture income form if there is any data or its for previous year
        document.addEventListener("DOMContentLoaded", function (event)
        {
            var showAgri = 'False';
            if (showAgri == 'True') {
                showAgriForm();
            }
            $(selectors.GrossAgriculturalReceipt + ',' + selectors.ExpenditureOnAgriculture + ', ' + selectors.UnabsorbedAgricultureLoss).on('change', calcNetAgricultureReceipt);
            calcNetAgricultureReceipt();
        });

    </script>
    <script type="text/javascript">

        function parseRupee(value)
        {
            if (!value) return 0;
            var parsedValue = new Number(value.replace(/,/g, ''));
            return parsedValue === NaN ? 0 : parsedValue;
        }

        function showexemptForm() {
            $('#exemptIncomeHiddenMsg, #exemptIncomeForm').toggle();
        }
    </script>
        </div>
        <div class="span-24 last sticky-check sticky-buttons">
            <div class="sticky-container">
                <p>
                    <button type="submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="other_income" class="large awesome blue btn-save full-640">
                        Save
                    </button>
                </p>
            </div>
        </div>
</form></div>


<script type="text/javascript">
    function narrationTotal(container) {
        // return a closure to sum up all rupee field
        return function () {
            var total_output = $(container).find(".total_output")
            var rupee_fields = $(container).find('.formatRupee');
            var total = 0;
            rupee_fields.each(function () {
                total += parseRupee($(this).val()) ? parseRupee($(this).val()) : 0;
            });
            if (total > 0) {
                total_output.text("(Total Value: ₹ " + formatNumber(total) + ")");
            }
            else {
                total_output.text("");
            }
        };
    }

    function narrationTotallerBinder() {
        // will find all containers
        var containers = $(".totaller")
        containers.each(function () {
            var container = $(this);
            // find all rupee field in each container and attach blur event to call narrationTotal
            container
                .find('.formatRupee:not(.totallerBinded)')
                .blur(narrationTotal(container))
                .addClass('totallerBinded');

            // find all close button in each container and attach click event to call narrationTotal
            container
                .find('.close-btn:not(.totallerBinded)')
                .addClass('totallerBinded')
                .click(() =>
                    setTimeout(narrationTotal(container), 100) // remove button removes last row late, so running calculations with a timeout of 100ms
                );

            // add support for narration (to bind blur to newly added fields)
            container.find('.formatRupee').first().blur();
        });

    }
    document.addEventListener("DOMContentLoaded", function (event) {
        narrationTotallerBinder();
        $('.add-btn').click(() =>
            setTimeout(narrationTotallerBinder, 100) // add button adds new row late, so running biding on new row with a timeout of 100ms
        );
    });
</script>
            <div class="mt50 sticky-footer-check">
                
<div class="ct-trust-markers">
    <div class="info-text">
     © 2020 Legal Salah Solutions Private Limited | All rights reserved 
       
    </div>
   
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>

    
<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>
<script src="{% static 'dc.min.js'%}" type="text/javascript"></script> 
<script src="{% static 'frontdc.min.js'%}" type="text/javascript"></script>  
<script src="{% static 'narrate.min.js'%}" type="text/javascript"></script>    
</body>
</html>
