{%load static%}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Permanent Information</title>
        <meta name="keywords" content="India, Indian Taxes, Taxes, Free, Efiling, Efiling Taxes, Efiling Taxes in India, Free Efiling Taxes in India, Free for Women efiling, Fastest way to efile, LegalSalah, LegalSalah, LegalSalah India, legalsalah.com, Easiest way to efile, cheap efiling,
      Income Tax, Form 16, Form-16, two form-16, save taxes, save taxes India, Filing Taxes, Filing Income Tax, Efiling Income Tax, Efiling Income Tax in India, Free Filing Income Tax India, Fastest way to file taxes India, Sahaj, Sugam, ITR, Saral, ITR-1, ITR-2, ITR-3, ITR-4, ITR-5,
      ITR-6, ITR-7, Trust, Business and Profession, House Property, Income, Salary, Other Income, Interest Income, Loans, Section 80C, Section 80CCF, Section 80D, Section 80E, Section 80U, LIC, PPF, NSC, Capital Gains, Sale of Stock, Sale of Shares, Sale of House, Section 54, Section 54F,
      Section 54EC, Section 80G, Donations, Digital Signatures" />

        <meta name="description" content="Permanent address, PAN card details and information for tax filing purposes" />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">
</head>


<body class=" ">


    <div class="container">
        <header>

    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="#">
                    <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Personal Info
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

    </navheader>

<div class="hidden">
    <div id="account_options_content" class="m20 ml20 mr20">
        <div class="span-7">
            <h2 class="m20 tal">Navigation</h2>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-tracking-action="option-navigate-faster" href="GetMapForEntity81f7.html?typeOfEntity=Individual">Navigate Faster</a><br />
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="option-advanced-options" data-width="50%" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAdvancedOptions">Advanced Options</a>
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="header_need_help" data-width="50%" href="https://legalsalah.com/Meta/NeedHelp?entityIndex=0&amp;year=2020">Need Help?</a>
            </p>
        </div>
        <div class="span-7 last">
            <h2 class="m20 tal">Account Options</h2>
            <!--<p class="narrate">
                <a href="/MyAccount?entityIndex=0&amp;year=2020"  data-tracking-action="option-myaccount" class="optionlink">My Account</a>
            </p>-->
            <p class="narrate">
                <a class="cbox-ajax optionlink" data-tracking-action="option-logout" data-width="40%" href="https://legalsalah.com/Account/BeforeLogoff?entityIndex=0&amp;year=2020">Log Out</a> <br />
            </p>
        </div>
    </div>

        </header>

        <div id="main" role="main">


    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo  active active" href="/">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources " href="/salary">2. Income Sources</a></li>
                <li><a class="nav-Deductions " href="/deduction">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid " href="/tds">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class="  active active" href="/personal">A. Personal Info</a></li>
                    <li><a class=" " href="/addresss">B. Address</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="active nav-PersonalInfo" href="/index">Your Info</a></li>
                    <li><a class="nav-IncomeSources" href="/salaryy">Incomes</a></li>
                    <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                    <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
            </ol>
        </div>
            <div class="hide mobile-26-as-import tac">
                <a class="m20 ml20 mr20 awesome yellow large">
                    Import your data automatically
                </a>
            </div>
            <div class="hide shown-mo mt40"></div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="active nav-PersonalInfo" href="/personal">Personal Info</a></li>
                            <ul>
                                    <li><a class="active nav-Permanent" href="/personal">Personal Info</a></li>
                                    <li><a class="nav-Address" href="/address">Address</a></li>
                            </ul>
                        <li><a class="nav-IncomeSources" href="/salaryy">Income Sources</a></li>
                        <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                        <li><a class="nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                        <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">

<ul class="navigation-menu">
                <li><a href="https://legalsalah.com/Guide/eFilingIncomeTaxReturns">Guide to Tax Filing</a></li>
                <li><a href="https://legalsalah.com/Meta/Pricing" onclick="ct_trackClick('BuyCaPlan');">Buy Assisted Tax Filing Plan</a></li>
                <li><a href="https://legalsalah.com/Account/Register?returnUrl=/paytax/y2020/0/Permanent">Sign up</a></li>
                <li><a href="https://legalsalah.com/Account/LogOn?returnUrl=/paytax/y2020/0/Permanent">Log In</a></li>

        </ul>


        </div>
    </div>
</div>




<div class="container">
    <h2>Permanent Information</h2>

<form action="/per" method="post">        <div class="span-24 last">
{% csrf_token %}
            <h3>Please enter your information here.</h3>

        </div>
        <div class="span-15 append-1">


    <fieldset>
        <legend>Personal Information</legend>
        <p><label for=firstName>First Name</label> <span class="redstar"> *</span><br>
           <input class="text" id="firstName" name="first_name" type="text" value="" /><br />
           <span class="field-validation-valid notice" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
        </p>
        <p>
            <label for=middleName>Middle Name</label> <br />
            <input class="text" id="mid" name="mid" type="text" value="" />
        </p>
        <p><label for=lastName>Last Name</label> <span class="redstar"> *</span><br />
            <input class="text track-focus" data-name="LastName" id="lastName" name="last_name" type="text" value="" /><br />
            <span class="field-validation-valid notice" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
        </p>

        <p>
            <label for=gender>Gender</label> <span class="redstar"> *</span> <br />
            <select data-val="true" data-val-required="The gender field is required." id="gender" name="gender"><option value="Male">Male</option>
<option value="Female">Female</option>
</select>
        </p>

        <p>
            <label for=dateofBirth>Date of Birth</label>  <span class="redstar"> *</span><br />
            <span class="quiet">Specify date in format like 1987-3-27</span> <br />
            <input class="text" id="dateofBirth" name="dob" placeholder="yyyy-mm-dd" type="text" value="" />
<br />
            <span class="field-validation-valid error" data-valmsg-for="dateofBirth" data-valmsg-replace="true"></span>
        </p>
        <p>
            <label for=pan>PAN number</label> <span class="redstar"> *</span><br />
            <input class="text capitalize track-focus" data-name="PAN" id="pan" name="pan_number" type="text" value="" /><br />
            <span class="field-validation-valid notice" data-valmsg-for="pan" data-valmsg-replace="true"></span>
        </p>
        <p>
            <label for=fatherName>Father's Name</label> <span class="redstar"> *</span><br />
            <input class="text track-focus" data-name="FatherName" id="fatherName" name="father_name" type="text" value="" /><br />
            <span class="field-validation-valid notice" data-valmsg-for="fatherName" data-valmsg-replace="true"></span>
        </p>
        <p>
            <label for=maritalStatus>Marital Status</label><br />
            <select data-val="true" data-val-required="The maritalStatus field is required." id="maritalStatus" name="marital_status"><option selected="selected" value="NotDeclared">Prefer Not to Disclose</option>
<option value="Married">Married</option>
<option value="Unmarried">Unmarried</option>
</select>
        </p>

    </fieldset>

        </div>
        <div class="sticky-check sticky-buttons">
            <div class="sticky-container">
                <div class="span-24">
                    <button type=" submit" disable-on-click="true" data-tracking-action="sticky_save_button" data-tracking-label="permanent" class="large awesome blue full-640 btn-save">
                        Save
                    </button>
                </div>
            </div>
        </div>
</form></div>


            <div class="mt50 sticky-footer-check">

<div class="ct-trust-markers">
    <div class="info-text">
        © 2020 Legal Salah Solutions Private Limited | All rights reserved
    </div>
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>


<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'bundles/frontdc.min.js'%}" type="text/javascript"></script>


</body>
</html>
