{%load static%}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
        


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Advance Tax and Self Assessment Tax | legalsalah.com | Fastest way to efile Income Taxes in India</title>
        <meta name="keywords" content="tax deposited challan 280, challan 280, entry taxes paid" />

        <meta name="description" content="Add entry on advance tax, self assessment tax for free easy e-filing of income taxes India" />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">
</head>


<body class=" ">


    <div class="container">
        <header>
            
    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="">
                     <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Self Tax Payments
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div><nav class="navigation hidden-mo">
            

        </nav>
    </navheader>

<div class="hidden">
    <div id="account_options_content" class="m20 ml20 mr20">
        <div class="span-7">
            <h2 class="m20 tal">Navigation</h2>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-tracking-action="option-navigate-faster" href="GetMapForEntity81f7.html?typeOfEntity=Individual">Navigate Faster</a><br />
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="option-advanced-options" data-width="50%" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FAdvancedOptions">Advanced Options</a>
            </p>
            <p class="narrate">
                <a class="optionlink cbox-ajax" data-height="490px" data-tracking-action="header_need_help" data-width="50%" href="https://legalsalah.com/Meta/NeedHelp?entityIndex=0&amp;year=2020">Need Help?</a>
            </p>
        </div>
        <div class="span-7 last">
            <h2 class="m20 tal">Account Options</h2>
            <!--<p class="narrate">
                <a href="/MyAccount?entityIndex=0&amp;year=2020"  data-tracking-action="option-myaccount" class="optionlink">My Account</a>
            </p>-->
            <p class="narrate">
                <a class="cbox-ajax optionlink" data-tracking-action="option-logout" data-width="40%" href="https://legalsalah.com/Account/BeforeLogoff?entityIndex=0&amp;year=2020">Log Out</a> <br />
            </p>
        </div>
    </div>
</div>

        </header>

        <div id="main" role="main">

            
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo " href="Permanent.html">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources " href="Salary.html">2. Income Sources</a></li>
                <li><a class="nav-Deductions " href="Deductions.html">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid  active active" href="TdsSummary.html">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class=" " href="TdsSummary.html">A. TDS</a></li>
                    <li><a class="  active active" href="TaxesPaidSummary.html">B. Self Tax Payments</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="nav-PersonalInfo" href="Permanent.html">Your Info</a></li>
                    <li><a class="nav-IncomeSources" href="Salary.html">Incomes</a></li>
                    <li><a class="nav-Deductions" href="Deductions.html">Deductions</a></li>
                    <li><a class="active nav-TaxesPaid" href="TdsSummary.html">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
            </ol>
        </div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="nav-PersonalInfo" href="Permanent.html">Personal Info</a></li>
                        <li><a class="nav-IncomeSources" href="Salary.html">Income Sources</a></li>
                        <li><a class="nav-Deductions" href="Deductions.html">Deductions</a></li>
                        <li><a class="active nav-TaxesPaid" href="TdsSummary.html">Taxes Paid</a></li>
                            <ul>
                                    <li><a class="nav-TdsSummary" href="TdsSummary.html">TDS</a></li>
                                    <li><a class="active nav-TaxesPaidSummary" href="TaxesPaidSummary.html">Self Tax Payments</a></li>
                            </ul>
                        <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">
            
<ul class="navigation-menu">
                <li><a href="https://legalsalah.com/Guide/eFilingIncomeTaxReturns">Guide to Tax Filing</a></li>
                <li><a href="https://legalsalah.com/Meta/Pricing" onclick="ct_trackClick('BuyCaPlan');">Buy Assisted Tax Filing Plan</a></li>
                <li><a href="https://legalsalah.com/Account/Register?returnUrl=/paytax/y2020/0/TaxesPaidSummary">Sign up</a></li>
                <li><a href="https://legalsalah.com/Account/LogOn?returnUrl=/paytax/y2020/0/TaxesPaidSummary">Log In</a></li>

        </ul>


        </div>
    </div>
</div>

            


<div class="container">
<h2>Summary of Taxes Paid: Advance Tax and Self Assessment Tax</h2>
    <div class = "span-24 last">
        
    </div>
<div class = "span-24 last mb20">
    <p></p>
    <div class="span-24 tac last"><h3>Would you like to add entry on Taxes Paid?</h3></div>
    <p class="narrate span-24 last">Add entries here if you <b>voluntarily</b> deposited taxes to the government. Note: This is separate from TDS. This is tax you deposited to the government via Challan 280.</p>
    <div class="prepend-8 span-6">
        <a class="large awesome blue full-640 tac" disable-on-click="true" href="AddTaxesPaid.html">Add Entry</a>
    </div>
    <div class="span-6 last">
        <p class="hide shown-mo"><br /></p>
        <a disable-on-click="true" href="TaxesPaidSummary6e35.html?flow=true" class="large awesome orange">Go to Next >></a>
    </div>

</div>

<hr />
       <h3>You haven't added any Taxes paid entries.</h3>
<p></p>
<hr />
</div>

            <div class="mt50 sticky-footer-check">
                
<div class="ct-trust-markers">
    <div class="info-text">
        © 2020 Legal Salah Solutions Private Limited | All rights reserved 
        
    </div>
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>

    
<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>

</body>
</html>
