{%load static%}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
    <title>Advance Tax and Self Assessment Tax | legalsalah.com | Fastest way to efile Income Taxes in India</title>
        <meta name="keywords" content="tax deposited challan 280, challan 280, entry taxes paid" />

        <meta name="description" content="Add entry on advance tax, self assessment tax for free easy e-filing of income taxes India" />
    <meta name="author" content="LegalSalah" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<link href="{% static 'taxcss.min.css'%}" rel="stylesheet" type="text/css">

</head>


<body class=" ">


    <div class="container">
        <header>
            
    <navheader>
        <div class="brand">
            <h1 class="logo-container mb0">
                <a href="">
                   <img src="{% static 'legalsalah.png'%}" alt="">
                </a>
            </h1>

                <a href="#" class="header-tax-elements hide shown-mo btn-mobile-menu-trigger">
                    <span class="header-secondary-nav">
            Self Tax Payments
            </span>
    </a>


            <a href="#" class="btn-mobile-menu hide shown-mo btn-mobile-menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div><nav class="navigation hidden-mo">
            

        </nav>
    </navheader>



        </header>

        <div id="main" role="main">

            
    <div class="tac primary-nav-wrap hidden-mo" style="margin: 15px 0; margin-top: 5px;">
        <ol class="container2 clearfix center-nav primary-nav">
                <li><a class="nav-PersonalInfo " href="/">1. Personal Info</a></li>
                <li><a class="nav-IncomeSources " href="/salary">2. Income Sources</a></li>
                <li><a class="nav-Deductions " href="/deduction">3. Deductions</a></li>
                <li><a class="nav-TaxesPaid  active active" href="/tds">4. Taxes Paid</a></li>
                <li><a class="nav-TaxFiling " href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">5. Tax Filing</a></li>
        </ol>
    </div>
        <div class="hidden-mo secondary-nav-wrap" style="margin: 15px 0; margin-bottom: 20px;">
            <ol class="secondary-nav container2 clearfix center-nav">
                    <li><a class=" " href="/tds">A. TDS</a></li>
                    <li><a class="  active active" href="/selftax">B. Self Tax Payments</a></li>
                <span class="secondary-nav-highlight-bar"></span>
            </ol>
        </div>
        <div class="container">
            <ol class="pretty-timeline hide shown-mo fade-in btn-mobile-menu-trigger" href="#">
                    <li><a class="nav-PersonalInfo" href="/">Your Info</a></li>
                    <li><a class="nav-IncomeSources" href="/salary">Incomes</a></li>
                    <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                    <li><a class="active nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                    <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
            </ol>
        </div>
<div class="sliding-nav-overlay hide shown-mo"></div>
<div class="sliding-nav-menu hide shown-mo">
    <div class="sliding-nav-logo"></div>
    <div class="sliding-nav-scroller">

            <div class="mobile-paytax-navigation">
                <ul>
                        <li><a class="nav-PersonalInfo" href="/">Personal Info</a></li>
                        <li><a class="nav-IncomeSources" href="/salary">Income Sources</a></li>
                        <li><a class="nav-Deductions" href="/deduction">Deductions</a></li>
                        <li><a class="active nav-TaxesPaid" href="/tds">Taxes Paid</a></li>
                            <ul>
                                    <li><a class="nav-TdsSummary" href="/tds">TDS</a></li>
                                    <li><a class="active nav-TaxesPaidSummary" href="/selftax">Self Tax Payments</a></li>
                            </ul>
                        <li><a class="nav-TaxFiling" href="http://legalsalah.com/Account/LogOn?returnUrl=%2Fpaytax%2Fy2020%2F0%2FSummary">Tax Filing</a></li>
                </ul>

            </div>
        <div class="mobile-site-navigation hide shown-mo">
            

        </div>
    </div>
</div>

            


<div class="container">
<h2>Summary of Taxes Paid: Advance Tax and Self Assessment Tax</h2>
    <div class = "span-24 last">
        
    </div>
<div class = "span-24 last mb20">
    <p></p>
    <div class="span-24 tac last"><h3>Would you like to add entry on Taxes Paid?</h3></div>
    <p class="narrate span-24 last">Add entries here if you <b>voluntarily</b> deposited taxes to the government. Note: This is separate from TDS. This is tax you deposited to the government via Challan 280.</p>
    <div class="prepend-8 span-6">
        <a class="large awesome blue full-640 tac" disable-on-click="true" href="AddTaxesPaid.html">Add Entry</a>
    </div>
    <div class="span-6 last">
        <p class="hide shown-mo"><br /></p>
        <a disable-on-click="true" href="TaxesPaidSummary6e35.html?flow=true" class="large awesome orange">Go to Next >></a>
    </div>

</div>

<hr />
       <h3>You haven't added any Taxes paid entries.</h3>
<p></p>
<hr />
</div>

            <div class="mt50 sticky-footer-check">
                
<div class="ct-trust-markers">
    <div class="info-text">
        © 2020 Legal Salah Solutions Private Limited | All rights reserved 
       
    </div>
   
</div>

            </div>
        </div>

    </div> <!--! end of #container -->
        <script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))</script>

    <script src="{% static 'taxjs.min.js'%}" type="text/javascript"></script>

    
<script src="{% static 'urlCleanupUtils.min.js'%}" type="text/javascript"></script>

</body>
</html>
